.main{
    height: 200vh;
    padding: 6.25rem;
    background-color: #133b63;
}

.wrap{
    display: grid;
    justify-content: center;
    padding: 9.25rem;
    background-color: #FFF;
    border-radius: 2rem;
}

.title{
    text-align: center;
    color: #9a7d69;
}

.text{
    text-align: center;
}

.img{
    margin:0 auto;
}